/* 
CSS VARIABLES aka Custom properties
hold a value and reuse it
--varName:value
property:var(--varName)
scope
:root{} === global
element === local
any property
*/
/* .heading{
    color: #f15039;
}
.text{
    color: #22ff0e;
}
.main-text{
    color:#1313fa;
}
.second-heading{
    color: #f15025;
} */
/* ICONS
Front-Awesome Icons
Free,Easy to get up running,simple syntax
*/
/* :root{
    --primaryColor:#1313fa;
    --secondaryColor:#f15025;
    --mainTransition:all 0.4s linear;    
}
.heading{
    color: var(--primaryColor);
}
.second-heading{
    color: var(--primaryColor);
    transition: var(--mainTransition);
}
.second-heading:hover{
    color: var(--secondaryColor);
}
div{
    --primaryRed: red;
}
.main-text{
    color: var(--primaryRed);
}
.third-heading{
    color: var(--primaryRed);
} */
.fa-home{
    color: green;
}
.social-icon{
    font-size: 4rem;
    color: blue;
}