/* Font-size,width,height,pixels(absolute values) */
/* one pixel represents one sot in aplane */
/* Relative VAlues--Percent values-depends on parent element. */
/* em-Relative-Depends on parent */
/* 1em=16px default browser style */
/* 1em=base-value */
/* Rem-Relative Depends on root */
/* 1rem=16px default browser style */
/* vh-height-percent of the screen-Relative */
/* vw-width-percent of the screen-Relative */
/* h1{
    font-size:30px;
    width: 200px;
    height: 300px;
    background: blue;
} */
/* .outer {
    width: 400px;
    height: 200px;
    background-color: blue;
    ;
}
.inner{
    width:100%;
    height:50%;
    background-color: red;;
} */
/* html{
    font-size: 32px;
} */
/* div{
    font-size:40px;
}
.relative{
    font-size: 2rem;
}
.absolute{
    font-size: 32px;
} */
/* default browser styles and google devTools







*/
/* .banner{
    width: 50vw;
    height: 50vh;
    background-color: red;
}
.header{
    width: 100vw;
    height: 100vh;
    background-color: blue;
} */
h2{
    color:blue;
    font-size: 60px;
}
